body {text-align: center; font-family: monospace; font-size: 30px;  background-image:url('Background.webp'); background-repeat:repeat; background-size: 1970px;}
h1 {font color: #000000; text-shadow: 2px 2px whitesmoke;}
h2 {text-align: center;}
h3 {text-align: center; font-size: 70px;}
h4 {text-align: left;}